* {
    color: antiquewhite;
}

body {
    background-color: #121212;
    text-align: center;
}

.button {

    height: 200px;
    width: 200px;
    border: 7px solid white;
    border-radius: 15%;
    margin: 20px 10px;
}

.blue {

    background-color: rgb(67, 67, 235);
}

.green {

    background-color: rgb(83, 189, 83);
}

.yellow {

    background-color: rgb(249, 249, 118);
}

.red{
    
    background-color: rgb(232, 60, 60);
}

.Container {

    display: flex;
    justify-content: center;
    
}

.blink {

    background-color: #121212;
}

.userblink {

    background-color: green;
}